{% extends 'it_platform/base.html' %}
{% load static %}
{% block content %}
    {% if application %}
                
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h1">
            {{ application }} 
            <a class="btn btn-outline-secondary btn-sm" data-bs-toggle="collapse" href="#AppDetails" role="button" aria-expanded="false" aria-controls="AppDetails">
                <img class="align-text-bottom" src=" {% static 'it_platform/icons/info-lg.svg' %} ">
            </a>
        </h1>
    </div>

    <div class="container-fluid">
        <div class="collapse" id="AppDetails">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Application details</h5>
                    <p class="text-muted"> {{ application.businessUnit }} </p>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th scope="col">Type</th>
                                <th scope="col">State</th>
                                <th scope="col">Mission Critical</th>
                                <th scope="col">Category</th>
                                <th scope="col">High Availability Type</th>
                                <th scope="col">Release Date</th>
                                <th scope="col">Support End Eate</th>
                                <th scope="col">Version</th>
                                <th scope="col">Edition</th>
                                <th scope="col">Databases</th>
                                <th scope="col">App Instances</th>
                                <th scope="col">Servers</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ application.type }}</td>
                                <td>{{ application.state }}</td>
                                <td>{{ application.missionCritical }}</td>
                                <td>{{ application.category }}</td>
                                <td>{{ application.highAvailabilityType }}</td>
                                <td>{{ application.releaseDate }}</td>
                                <td>{{ application.supportEndDate }}</td>
                                <td>{{ application.version }}</td>
                                <td>{{ application.edition }}</td>
                                <td>{{ application.database.distinct.count }}</td>
                                <td>{{ application.appInstances.count }}</td>
                                <td>{{ application.server.distinct.count }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br>
        </div>
        {% comment %} ---------------------------------- {% endcomment %}
        <div class="card">
            <div class="card-header">
                <div class="nav nav-tabs card-header-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-app-inst-tab" data-bs-toggle="tab" data-bs-target="#nav-app-inst" type="button" role="tab" aria-controls="nav-app-inst" aria-selected="true">Application Instances</button>
                    <button class="nav-link" id="nav-db-inst-tab" data-bs-toggle="tab" data-bs-target="#nav-db-inst" type="button" role="tab" aria-controls="nav-db-inst" aria-selected="false">Database Instances</button>
                </div>
            </div>
            <div class="card-body">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-app-inst" role="tabpanel" aria-labelledby="nav-app-inst-tab" tabindex="0">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Server</th>
                                        <th scope="col">Application instance</th>
                                        <th scope="col">Framework</th>
                                        <th scope="col">Created at</th>
                                        <th scope="col">Updated at</th>
                                        <th scope="col">Removed at</th>
                                    </tr>
                                </thead>
                                <tbody class="align-middle">
                                    {% for instance in application.appInstances.distinct %}           
                                    <tr>
                                        <td>
                                            <a href=" {% url 'it_platform:server_details' instance.server.id %} ">{{ instance.server.name }}</a>
                                        </td>
                                        <td>{{ instance.appInstance }}</td>
                                        <td>{{ instance.framework }}</td>
                                        <td>{{ instance.createdAt }}</td>
                                        <td>{{ instance.updatedAt }}</td>
                                        <td>{{ instance.removedAt }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-db-inst" role="tabpanel" aria-labelledby="nav-db-inst-tab" tabindex="0">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Instance</th>
                                        <th scope="col">Database</th>
                                        <th scope="col">High Availability Type</th>
                                        <th scope="col">State</th>
                                        <th scope="col">DB Engine</th>
                                    </tr>
                                </thead>
                                <tbody class="align-middle">
                                    {% for database in application.database.distinct %}           
                                        {% for instance in database.databaseInstances %}
                                            {% if instance.application_id == application.id %}
                                            <tr>
                                                <td>
                                                    <ol class="breadcrumb">
                                                        <li class="breadcrumb-item">
                                                            <a href=" {% url 'it_platform:server_details' instance.server.id %} ">{{ instance.server.name }}</a>
                                                        </li>
                                                        <li class="breadcrumb-item active">{{ instance.dbInstance }}</li>
                                                    </ol>
                                                </td>
                                                <td><a href="{% url 'it_platform:database_details' database.id %}">{{ database.name }}</a></td>
                                                <td>{{ database.highAvailabilityType }}</td>
                                                <td>{{ instance.state }}</td>
                                                <td>{{ instance.DBManagementSystem }}</td>
                                            </tr>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
    {% endif %}
{% endblock content %}
