{% extends 'it_platform/base.html' %}
{% load static %}
{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h1">Applications</h1>
        {% if application_list %}
        <div class="btn-toolbar mb-2 mb-md-0">
            <p class="lead mb-2">
                Applications: <b> {{ application_list.count }} </b>
            </p>
        </div>
        {% endif %}
    </div>
    {% if application_list %}
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">App Code</th>
                        <th scope="col">Type</th>
                        <th scope="col">State</th>
                        <th scope="col">Mission Critical</th>
                        <th scope="col">Category</th>
                        <th scope="col">Business Unit</th>
                    </tr>
                </thead>
                    <tbody>
                        {% for application in application_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>
                                <a href=" {% url 'it_platform:app_details' application.id %} ">
                                    {{ application.name }}
                                </a>
                            </td>
                            <td>{{ application.codeID }}</td>
                            <td>{{ application.Type }}</td>
                            <td>{{ application.State }}</td>
                            <td>{{ application.missionCritical }}</td>
                            <td>{{ application.category }}</td>
                            <td>{{ application.businessUnit }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
            </table>
        </div>
    {% else %}
        <p>Empty application set</p>
    {% endif %}
{% endblock content %}