<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <title>IT Platform</title>

        {% load static %}
        <link href=" {% static 'it_platform/css/bootstrap.min.css' %} " rel="stylesheet">

        <!-- Custom styles for this template -->
        <style>
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;
            }

            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                font-size: 3.5rem;
                }
            }

            .b-example-divider {
                height: 3rem;
                background-color: rgba(0, 0, 0, .1);
                border: solid rgba(0, 0, 0, .15);
                border-width: 1px 0;
                box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
            }

            .b-example-vr {
                flex-shrink: 0;
                width: 1.5rem;
                height: 100vh;
            }

            .bi {
                vertical-align: -.125em;
                fill: currentColor;
            }

            .nav-scroller {
                position: relative;
                z-index: 2;
                height: 2.75rem;
                overflow-y: hidden;
            }

            .nav-scroller .nav {
                display: flex;
                flex-wrap: nowrap;
                padding-bottom: 1rem;
                margin-top: -1px;
                overflow-x: auto;
                text-align: center;
                white-space: nowrap;
                -webkit-overflow-scrolling: touch;
            }
        </style>

        <link href=" {% static 'it_platform/css/dashboard.css' %} " rel="stylesheet">

    </head>
    <body>
    
        <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
            <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 text-center" href="#">Compensar - IT Platform</a>
            <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <input class="form-control form-control-dark w-100 rounded-0 border-0" type="text" placeholder="Search" aria-label="Search">
            <div class="navbar-nav">
                <div class="nav-item text-nowrap">
                <a class="nav-link px-3" href="{% url 'admin:index' %}">Sign in</a>
                </div>
            </div>
        </header>

        <div class="container-fluid">
            <div class="row">
                <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
                    <div class="position-sticky pt-3 sidebar-sticky p-2">
                        <ul class="nav flex-column list-group list-group-flush">
                            <li class="nav-item list-group-item list-group-item-action">
                                <a class="nav-link" aria-current="page" href=" {% url 'it_platform:index' %} "> 
                                    <img class="align-text-bottom" src=" {% static 'it_platform/icons/app.svg' %} ">
                                    Applications
                                </a>
                            </li>
                            <li class="nav-item list-group-item list-group-item-action">
                                <a class="nav-link" href=" {% url 'it_platform:frameworks' %} ">
                                    <img class="align-text-bottom" src=" {% static 'it_platform/icons/file-code.svg' %} ">
                                    Frameworks
                                </a>
                            </li>
                            <li class="nav-item list-group-item list-group-item-action">
                                <a class="nav-link" href=" {% url 'it_platform:operatingSystems' %} ">
                                    <img class="align-text-bottom" src=" {% static 'it_platform/icons/stack.svg' %} ">
                                    Operating Systems
                                </a>
                            </li>
                            <li class="nav-item list-group-item list-group-item-action">
                                <a class="nav-link" href=" {% url 'it_platform:servers' %} ">
                                    <img class="align-text-bottom" src=" {% static 'it_platform/icons/cpu.svg' %} ">
                                    Servers
                                </a>
                            </li>
                            <li class="nav-item list-group-item list-group-item-action">
                                <a class="nav-link" href=" {% url 'it_platform:databases' %} ">
                                    <img class="align-text-bottom" src=" {% static 'it_platform/icons/layers.svg' %} ">
                                    Databases
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>

                <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                    {% block content %}
                    {% endblock content %}
                </main>
            </div>
        </div>

        <script src=" {% static 'it_platform/js/bootstrap.bundle.min.js' %} "></script>
    </body>
</html>