{% extends 'it_platform/base.html' %}
{% load static %}
{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h1">Databases</h1>
        {% if db_list %}
        <div class="btn-toolbar mb-2 mb-md-0">
            <p class="lead mb-2">
                Databases: <b> {{ db_list.count }} </b>
            </p>
        </div>
        {% endif %}
    </div>
    {% if db_list %}
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">name</th>
                        <th scope="col">High Availability Type</th>
                        <th scope="col">Applications</th>
                        <th scope="col">DB Instances</th>
                        <th scope="col">Servers</th>
                    </tr>
                </thead>
                    <tbody>
                        {% for database in db_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href=" {% url 'it_platform:database_details' database.id %} ">{{ database.name }}</a></td>
                            <td>{{ database.highAvailabilityType }}</td>
                            <td>{{ database.application_set.distinct.count }}</td>
                            <td>{{ database.databaseInstances.count }}</td>
                            <td>{{ database.server.distinct.count }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
            </table>
        </div>
    {% else %}
        <p>Empty database set</p>
    {% endif %}
{% endblock content %}