{% extends 'it_platform/base.html' %}
{% load static %}
{% block content %}
    {% if database %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h1">
            {{ database }} 
            <a class="btn btn-outline-secondary btn-sm" data-bs-toggle="collapse" href="#AppDetails" role="button" aria-expanded="false" aria-controls="AppDetails">
                <img class="align-text-bottom" src=" {% static 'it_platform/icons/info-lg.svg' %} ">
            </a>
        </h1>
    </div>

    <div class="container-fluid">
        <div class="collapse" id="AppDetails">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Database details</h5>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Database</th>
                                <th scope="col">High Availability Type</th>
                                <th scope="col">Applications</th>
                                <th scope="col">DB Instances</th>
                                <th scope="col">DB Servers</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ database.id }}</td>
                                <td>{{ database.name }}</td>
                                <td>{{ database.highAvailabilityType }}</td>
                                <td>{{ database.application_set.distinct.count }}</td>
                                <td>{{ database.databaseInstances.count }}</td>
                                <td>{{ database.server.distinct.count }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br>
        </div>
        {% comment %} ---------------------------------- {% endcomment %}
        <div class="card">
            <div class="card-header">
                <div class="nav nav-tabs card-header-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-app-inst-tab" data-bs-toggle="tab" data-bs-target="#nav-app-inst" type="button" role="tab" aria-controls="nav-app-inst" aria-selected="true">Applications</button>
                    <button class="nav-link" id="nav-db-inst-tab" data-bs-toggle="tab" data-bs-target="#nav-db-inst" type="button" role="tab" aria-controls="nav-db-inst" aria-selected="false">Database Instances</button>
                </div>
            </div>
            <div class="card-body">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-app-inst" role="tabpanel" aria-labelledby="nav-app-inst-tab" tabindex="0">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Application</th>
                                        <th scope="col">Code ID</th>
                                        <th scope="col">Type</th>
                                        <th scope="col">State</th>
                                        <th scope="col">Category</th>
                                        <th scope="col">Version</th>
                                        <th scope="col">Edition</th>
                                    </tr>
                                </thead>
                                <tbody class="align-middle">
                                    {% for application in database.application_set.distinct %}           
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>
                                            <a href=" {% url 'it_platform:app_details' application.id %} ">
                                                {{ application.name }}
                                            </a>
                                        </td>
                                        <td>{{ application.codeID }}</td>
                                        <td>{{ application.type }}</td>
                                        <td>{{ application.state }}</td>
                                        <td>{{ application.category }}</td>
                                        <td>{{ application.version }}</td>
                                        <td>{{ application.edition }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-db-inst" role="tabpanel" aria-labelledby="nav-db-inst-tab" tabindex="0">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Instance</th>
                                        <th scope="col">Database</th>
                                        <th scope="col">High Availability Type</th>
                                        <th scope="col">State</th>
                                        <th scope="col">DB Engine</th>
                                        <th scope="col">Application</th>
                                    </tr>
                                </thead>
                                <tbody class="align-middle">
                                    {% for instance in database.databaseInstances.distinct %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>
                                                <ol class="breadcrumb">
                                                    <li class="breadcrumb-item">
                                                        <a href=" {% url 'it_platform:server_details' instance.server.id %} ">{{ instance.server.name }}</a>
                                                    </li>
                                                    <li class="breadcrumb-item active">{{ instance.dbInstance }}</li>
                                                </ol>
                                            </td>
                                            <td>{{ database.name }}</td>
                                            <td>{{ database.highAvailabilityType }}</td>
                                            <td>{{ instance.state }}</td>
                                            <td>{{ instance.DBManagementSystem }}</td>
                                            <td><a href="{% url 'it_platform:app_details' instance.application_id %}">{{ instance.application }}</a></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
    {% endif %}
{% endblock content %}
