{% extends 'it_platform/base.html' %}
{% load static %}
{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h1">Frameworks</h1>
        {% if framework_list %}
        <div class="btn-toolbar mb-2 mb-md-0">
            <p class="lead mb-2">
                Frameworks: <b> {{ framework_list.count }} </b>
            </p>
        </div>
        {% endif %}
    </div>
    {% if framework_list %}
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Version</th>
                        <th scope="col">Language</th>
                        <th scope="col">Type</th>
                        <th scope="col">License</th>
                        <th scope="col">Release Date</th>
                        <th scope="col">Support End Date</th>
                        <th scope="col">Extended Support End Date</th>
                    </tr>
                </thead>
                    <tbody>
                        {% for framework in framework_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ framework.name }}</td>
                            <td>{{ framework.version }}</td>
                            <td>{{ framework.language }}</td>
                            <td>{{ framework.type }}</td>
                            <td>{{ framework.license }}</td>
                            <td>{{ framework.releaseDate }}</td>
                            <td>{{ framework.supportEndDate }}</td>
                            <td>{{ framework.extendedSupportEndDate }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
            </table>
        </div>
    {% else %}
        <p>Empty framework set</p>
    {% endif %}
{% endblock content %}