{% extends 'it_platform/base.html' %}
{% load static %}
{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h1">Operating System</h1>
        {% if os_list %}
        <div class="btn-toolbar mb-2 mb-md-0">
            <p class="lead mb-2">
                Operating systems: <b> {{ os_list.count }} </b>
            </p>
        </div>
        {% endif %}
    </div>
    {% if os_list %}
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Family</th>
                        <th scope="col">Version</th>
                        <th scope="col">Edition</th>
                        <th scope="col">Distribution</th>
                        <th scope="col">Compilation</th>
                        <th scope="col">Architecture</th>
                        <th scope="col">Release Date</th>
                        <th scope="col">Support End Date</th>
                        <th scope="col">Extended Support End Date</th>
                    </tr>
                </thead>
                    <tbody>
                        {% for os in os_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ os.family }}</td>
                            <td>{{ os.version }}</td>
                            <td>{{ os.edition }}</td>
                            <td>{{ os.distribution }}</td>
                            <td>{{ os.compilation }}</td>
                            <td>{{ os.architecture }}</td>
                            <td>{{ os.releaseDate }}</td>
                            <td>{{ os.supportEndDate }}</td>
                            <td>{{ os.extendedSupportEndDate }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
            </table>
        </div>
    {% else %}
        <p>Empty operating system set</p>
    {% endif %}
{% endblock content %}