{% extends 'it_platform/base.html' %}
{% load static %}
{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h1">Servers</h1>
        {% if server_list %}
        <div class="btn-toolbar mb-2 mb-md-0">
            <p class="lead mb-2">
                Servers: <b> {{ server_list.count }} </b>
            </p>
        </div>
        {% endif %}
    </div>
    {% if server_list %}
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Operating System</th>
                        <th scope="col">Details</th>
                        <th scope="col">Host</th>
                        <th scope="col">Location</th>
                        <th scope="col">Processors</th>
                        <th scope="col">Physical Memory GB</th>
                        <th scope="col">Storage GB</th>
                        <th scope="col">Category</th>
                        <th scope="col">State</th>
                        <th scope="col">Environment</th>
                    </tr>
                </thead>
                    <tbody>
                        {% for server in server_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>
                                <a href=" {% url 'it_platform:server_details' server.id %} ">
                                    {{ server.name }}
                                </a>
                            </td>
                            <td>{{ server.operatingSystem }}</td>
                            <td>{{ server.details }}</td>
                            <td>{{ server.host }}</td>
                            <td>{{ server.location }}</td>
                            <td>{{ server.processors }}</td>
                            <td>{{ server.physicalMemoryGB }}</td>
                            <td>{{ server.storageGB }}</td>
                            <td>{{ server.category }}</td>
                            <td>{{ server.state }}</td>
                            <td>{{ server.environment }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
            </table>
        </div>
    {% else %}
        <p>Empty server set</p>
    {% endif %}
{% endblock content %}