{% extends 'it_platform/base.html' %}
{% load static %}
{% block content %}
    {% if server %}
                
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h1">
            {{ server.name }}
            <a class="btn btn-outline-secondary btn-sm" data-bs-toggle="collapse" href="#ServerDetails" role="button" aria-expanded="false" aria-controls="ServerDetails">
                <img class="align-text-bottom" src=" {% static 'it_platform/icons/info-lg.svg' %} ">
            </a>
        </h1>
    </div>

    <div class="container-fluid">
        <div class="collapse" id="ServerDetails">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Server details</h5>
                    <p class="text-muted"> {{ server.details }} </p>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th scope="col">Operating System</th>
                                <th scope="col">Host</th>
                                <th scope="col">Location</th>
                                <th scope="col">Processors</th>
                                <th scope="col">Memory GB</th>
                                <th scope="col">Storage GB</th>
                                <th scope="col">Category</th>
                                <th scope="col">State</th>
                                <th scope="col">Environment</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ server.operatingSystem }}</td>
                                <td>{{ server.host }}</td>
                                <td>{{ server.location }}</td>
                                <td>{{ server.processors }}</td>
                                <td>{{ server.physicalMemoryGB }}</td>
                                <td>{{ server.storageGB }}</td>
                                <td>{{ server.category }}</td>
                                <td>{{ server.state }}</td>
                                <td>{{ server.environment }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br>
        </div>
        {% comment %} ---------------------------------- {% endcomment %}
        <div class="card">
            <div class="card-header">
                <div class="nav nav-tabs card-header-tabs " id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-app-inst-tab" data-bs-toggle="tab" data-bs-target="#nav-app-inst" type="button" role="tab" aria-controls="nav-app-inst" aria-selected="true">
                        Application Instances
                        {% comment %} <span class="badge rounded-pill text-bg-primary">
                            {% trans 0 as value %}
                            {% for app in server.application_set.all.distinct %}
                                {% for inst in app.appInstances. %}
                                    {% if inst.server_id == server.id %}
                                        {{ value|add:1 }}
                                    {% endif %}
                                {% endfor %}
                            {% endfor %} {% endcomment %}
                        </span>
                    </button>
                    <button class="nav-link" id="nav-db-inst-tab" data-bs-toggle="tab" data-bs-target="#nav-db-inst" type="button" role="tab" aria-controls="nav-db-inst" aria-selected="false">Database Instances</button>
                </div>
            </div>
            <div class="card-body">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-app-inst" role="tabpanel" aria-labelledby="nav-app-inst-tab" tabindex="0">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Application</th>
                                        <th scope="col">Code ID</th>
                                        <th scope="col">Type</th>
                                        <th scope="col">State</th>
                                        <th scope="col">Category</th>
                                        <th scope="col">Version</th>
                                        <th scope="col">Edition</th>
                                        <th scope="col">Instance | Framework</th>
                                    </tr>
                                </thead>
                                <tbody class="align-middle">
                                    {% for application in server.application_set.distinct %}           
                                    <tr>
                                        <td>
                                            <a href=" {% url 'it_platform:app_details' application.id %} ">
                                                {{ application.name }}
                                            </a>
                                        </td>
                                        <td>{{ application.codeID }}</td>
                                        <td>{{ application.type }}</td>
                                        <td>{{ application.state }}</td>
                                        <td>{{ application.category }}</td>
                                        <td>{{ application.version }}</td>
                                        <td>{{ application.edition }}</td>
                                        <td>{% for instance in application.appInstances %}
                                                {% if instance.server_id == server.id %}
                                                    <ol class="breadcrumb">
                                                        <li class="breadcrumb-item">{{ instance.appInstance }}</li>
                                                        <li class="breadcrumb-item active">{{ instance.framework }}</li>
                                                    </ol>
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-db-inst" role="tabpanel" aria-labelledby="nav-db-inst-tab" tabindex="0">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Instance</th>
                                        <th scope="col">Database</th>
                                        <th scope="col">Application</th>
                                        <th scope="col">High Availability Type</th>
                                        <th scope="col">State</th>
                                        <th scope="col">DB Engine</th>
                                    </tr>
                                </thead>
                                <tbody class="align-middle">
                                    {% for database in server.database_set.distinct %}           
                                        {% for instance in database.databaseInstances %}
                                            {% if instance.server_id == server.id %}
                                            <tr>
                                                <td>
                                                    <ol class="breadcrumb">
                                                        <li class="breadcrumb-item">
                                                            <a href=" {% url 'it_platform:server_details' instance.server.id %} "></a> {{ instance.server.name }}
                                                        </li>
                                                        <li class="breadcrumb-item active">{{ instance.dbInstance }}</li>
                                                    </ol>
                                                </td>
                                                <td><a href="{% url 'it_platform:database_details' database.id %}">{{ database.name }}</a></td>
                                                <td>
                                                    <li><a href=" {% url 'it_platform:app_details' instance.application_id %} ">{{ instance.application }}</a></li>
                                                </td>
                                                <td>{{ database.highAvailabilityType }}</td>
                                                <td>{{ instance.state }}</td>
                                                <td>{{ instance.DBManagementSystem }}</td>
                                            </tr>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>

    {% endif %}
{% endblock content %}
